<div>
  <div class="container_section_1">
    <img src="assets/images/Recurso 1-100.jpg" alt="">
  </div>
  <div>
    <section>
    </section>
  </div>
  <div class="container-fluid px-0 main">
    <img src="assets/images/Recurso 2-100.jpg" class="img-fluid">
      <div class="Box">
          <div class="cards">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">Maxi estampados inspirados en la flora tropical son los protagonistas de la nueva colección.</p>
                      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" >Comprar Ahora</button>
                    </div>
                  </div>         
                </div>
              </div>
            </div>
          </div>
      </div>  
  </div>
    <div class="container_section_4">
        <div class="row">
            <div class="col">
                <div class="woman_content">
                    <img src="assets/images/Recurso 4-100.jpg" alt="" class="woman_img" />
                </div>
            </div>
            <div class="col">
                <div class="shoes_content">
                        <img src="assets/images/Recurso 3-100.jpg" alt="" class="shoes_img" />
                </div>
            </div>
        </div>
    </div>
    <div class="container_section_3">
      <div class="container_cards">
        <div class="card_block">
        </div>
      </div>
      <div class="banner">
        <img src="assets/images/Recurso 5-100.jpg" alt="" class="woman8_img" />
      </div>
        <div class="banner">
          <img src="assets/images/Recurso 6-100.jpg" alt="" class="plant_img" />
        </div>
    </div>
    <div class="container_section_5">
      <div class="banner_1">
        <img src="assets/images/Recurso 7-100.jpg" alt="">
      </div>
        <div class="container_cards">
          <div class="card_text">
            <p>Lentes de sol "CAT" en carey, un must para este verano</p>
          </div>
            <div class="card_image">
              <div class="card_image_glasses">
                  <img src="assets/images/Recurso 8-100.jpg" alt="" />
              </div>
              <div class="buy_caption">
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" >Comprar Ahora</button>
              </div>
            </div>
          </div>
        <div class="banner_1">
          <img src="assets/images/Recurso 9-100.jpg" alt="">
        </div>
    </div>

  <div class="col_section_6" style="background-image: url(..assets/images/Recurso\ 17-100.jpg);">
    <div class="row">
      <div class="col">
        <img src="assets/images/Recurso 11-100.jpg" class="woman2_img" />
      </div>
      <div class="col">
        <img src="assets/images/Recurso 12-100.jpg" class="woman3_img"/>
      </div>
    </div>
  </div>
  <div class="col_space">
  </div>
  <div class="col_section_7">
    <div class="row">
      <div class="col">
          <div class="woman_content_2">
              <img src="assets/images/Recurso 13-100.jpg" alt="" class="woman4_img" />
                <!--<div class="buy_caption">
                  <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" >Comprar Ahora</button>
                </div>-->
          </div>
      </div>
      <div class="col">
          <div class="woman_content_3">
                  <img src="assets/images/Recurso 14-100.jpg" alt="" class="woman5_img" />
          </div>
      </div>
  </div>
  </div>
  <div class="col_section_8" style="background-image: url(../assets/images/Recurso\ 16-100.jpg);">
      <div class="col">
        <div class="woman_content_4">
          <img src="assets/images/Recurso 15-100.jpg" class="woman6_img" />
            <div class="buy_caption">
              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" >Comprar Ahora</button>
            </div>
        </div>
      </div>
  </div>
</div>

